---
import web1 from '../assets/web1.png';
import web2 from '../assets/web2.png';
import web3 from '../assets/web3.png';
import web4 from '../assets/web4.png';
import web5 from '../assets/web5.png';
import web6 from '../assets/web6.png';
import web7 from '../assets/web7.png';
import web8 from '../assets/web8.png';
// import web9 from '../assets/web9.png';

---

<section class="websites" id="development">
    <h2 class="websites__title">Developed Websites</h2>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web1.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">Sales Funnels (Checkouts + Upsells)</h3>
            <div class="websites__item__paragraph">At eJam, I crafted impactful sales funnels featuring seamless checkouts and strategic upsells, boosting conversion rates significantly for recognized brands like Cleanomic, Shameless Snacks, BugMD, and NovaMD. My solutions enhanced user experience and effectively drove sales growth.
            </div>
            <a href="https://cart.eatshameless.com/champeatshameless-consentbox/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web2.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">eJam Landing Pages</h3>
            <div class="websites__item__paragraph">During my journey with eJam, I developed engaging and visually compelling landing pages that captured customer interest and significantly boosted sales performance for brands including Cleanomic, Shameless Snacks, NovaMD, and BugMD, effectively optimizing each page for conversions.
            </div>
            <a href="https://about.buyearthwash.com/supercheck/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web3.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">NovaMD eCommerce Site</h3>
            <div class="websites__item__paragraph">I built a vibrant, user-friendly website for NovaMD, a brand dedicated to improving women’s health. Leveraging CheckoutChamp with custom JavaScript, HTML, and CSS, I delivered a clean, responsive, and visually appealing shopping experience tailored specifically to its target audience.
            </div>
            <a href="https://www2.novamd.com/app/presell" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web4.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">Difor Automotive Sales Website</h3>
            <div class="websites__item__paragraph">I designed and developed an intuitive automotive sales website for Difor, optimizing vehicle presentation and user browsing experiences. Leveraging Themosis, Vue.js, JavaScript, and Sass, the platform significantly improved customer interaction, vehicle searches, and lead generation.
            </div>
            <a href="https://www.difor.cl/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web5.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">Imagina Real Estate Website</h3>
            <div class="websites__item__paragraph">I created an interactive and modern real estate platform for Imagina, implementing dynamic features using Themosis, a specialized framework built around custom WordPress solutions. Technologies like Vue.js, JavaScript, and Sass helped create an intuitive and visually engaging user experience.
            </div>
            <a href="https://www.imagina.cl/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web6.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">VM Elite Travel Agency Platform</h3>
            <div class="websites__item__paragraph">For VM Elite, a prominent Chilean travel agency, I developed a sleek, responsive website designed to showcase destinations and tours attractively. Using Themosis integrated with Vue.js, JavaScript, and Sass, the site provides seamless navigation, beautiful visuals, and outstanding user experience.
            </div>
            <a href="https://vmelite.com/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web7.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">Universidad Católica de la Santísima Concepción Website</h3>
            <div class="websites__item__paragraph">For Universidad Católica de la Santísima Concepción, Chile, I delivered a sophisticated, educational web platform emphasizing clarity, user engagement, and easy information access. Built on Themosis with Vue.js, JavaScript, and Sass, the site enhances the university’s online presence and student interaction.
            </div>
            <a href="https://ucsc.cl/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web8.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">Binance Cryptocurrency Visualization Tool</h3>
            <div class="websites__item__paragraph">I created an advanced web tool that visualizes real-time cryptocurrency demand and supply data from Binance Perpetual Futures. Built using Binance’s API, Vanilla JavaScript, and TradingView’s powerful library, it provides users with insightful analytics on price movements and market open interest trends.
            </div>
            <a href="https://binance-futures-zeta.vercel.app/" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article>
    <!-- <article class="websites__item">
        <div class="websites__item__img-container">
            <img src={web9.src} alt="mockup" class="websites__item__img">
        </div>
        <div class="websites__item__texts">
            <h3 class="websites__item__title">Sales Funnels (Checkouts + Upsells)</h3>
            <div class="websites__item__paragraph">At eJam, I crafted impactful sales funnels featuring seamless checkouts and strategic upsells, boosting conversion rates significantly for recognized brands like Cleanomic, Shameless Snacks, BugMD, and NovaMD. My solutions enhanced user experience and effectively drove sales growth. 
            </div>
            <a href="https://youtu.be/cjepMJ2x2r0" class="websites__item__link" target="_blank">
                <span class="websites__item__link__text">
                View Example
                </span>
            </a>
        </div>
    </article> -->
</section>

<style>
    .websites{
        padding-top: 120px;
        padding-left: 100px;
        padding-right: 100px;
        width: 100%;
        box-sizing: border-box;
        font-family: "Montserrat";
        color: #fff;
    }

    .websites__title{
        font-size: 60px;
        padding-bottom: 0px;
        margin: 0;
        opacity: 70%;
        font-weight: 500;
    }

    .websites__item{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .websites__item__img-container{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .websites__item__img{
        width: 100%;
    }

    .websites__item__texts{
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .websites__item:nth-child(even) .websites__item__img-container, .websites__item:nth-child(odd) .websites__item__texts{
        order: 1;
    }
    .websites__item:nth-child(odd) .websites__item__img-container, .websites__item:nth-child(even) .websites__item__texts{
        order: 2;
    }

    .websites__item:nth-child(odd) .websites__item__texts{
        text-align: right;
        align-items: flex-end;
    }

    .websites__item__title{
        font-size: 36px;
        font-weight: 400;
        opacity: 70%;
        margin: 0;
    }

    .websites__item__title::after{
        display: block;
        content: "";
        width: 238px;
        height: 5px;
        margin-top: 20px;
        background: linear-gradient(to right, #AC40F2ff 14%, #135EF2ff 53%, #00000000 98%);
        margin-bottom: 35px;
    }

    .websites__item:nth-child(odd) .websites__item__title::after{
        background: linear-gradient(to left, #AC40F2ff 14%, #135EF2ff 53%, #00000000 98%);
        justify-self: flex-end;
    }

    .websites__item__paragraph{
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        opacity: 70%;
        white-space: pre-line;
        font-weight: 20;
        margin-bottom: 30px;
    }

    .websites__item__link {
        display: flex;
      padding: 2px 2px;
      border-radius: 9999px;
      background: linear-gradient(
      140deg,
        rgba(172, 64, 242, 1) 14%,
        rgba(19, 94, 242, 1) 53%,
        rgba(7, 7, 13, 0.24) 98%
      );
      text-decoration: none;
        color: #fff;
        font-size: 18px;
        width: max-content;
        height: max-content;
    }

    .websites__item__link__text {
        background: #060609;
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 25px;
        transition: background-color 0.5s ease;
        text-decoration: none;
        width: max-content;
        height: max-content;
    }

    .websites__item__link:hover .websites__item__link__text{
        background: #06060900;

    }
    
    .websites__item:nth-of-type(1) .websites__item__img{
        width: 85%;
    }
    .websites__item:nth-of-type(2) .websites__item__img{
        width: 85%;

    }
    .websites__item:nth-of-type(4) .websites__item__img{
        width: 85%;

    }

    .websites__item:nth-of-type(5) .websites__item__img{
        width: 85%;

    }

    .websites__item:nth-of-type(6) .websites__item__img{
        width: 86%;

        transform: translateX(80px);
    }

    .websites__item:nth-of-type(7) .websites__item__img{
        width: 85%;

        transform: translateX(-80px);
    }

    .websites__item:nth-of-type(8) .websites__item__img{
        width: 80%;

        transform: translateX(15px);
    }

    @media (max-width: 1160px) {
        .websites__title{
            padding-bottom: 80px;
        }
    }
    @media (max-width: 1000px) {
        .websites__title{
            text-align: center;
        }
        .websites__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 60px;
        }
        .websites__item__img-container{
            width: 100%;
            order: 1;
        }   
        .websites__item:nth-child(even) .websites__item__img-container{
            order: 1;
        } 
        .websites__item:nth-child(odd) .websites__item__img-container{
            order: 1;
        }     
        .websites__item__texts{
            width: 100%;
            order: 2;
            justify-content: center;
        }
        .websites__item:nth-child(even) .websites__item__texts{
            order: 2;
            text-align: left !important;
            align-items: center;
        }
        .websites__item:nth-child(odd) .websites__item__texts{
            order: 2;
            text-align: left !important;
            align-items: center;

        }
        .websites__item__title{
            text-align: center;
            position: relative;
        }
        .websites__item__title::after{
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            background: linear-gradient(to right, #AC40F2ff 14%, #135EF2ff 53%, #00000000 98%);
        }
        .websites__item:nth-child(even) .websites__item__title::after{
            background: linear-gradient(to right, #AC40F2ff 14%, #135EF2ff 53%, #00000000 98%);
        }
        .websites__item:nth-child(odd) .websites__item__title::after{
            background: linear-gradient(to right, #AC40F2ff 14%, #135EF2ff 53%, #00000000 98%);
        }
        .websites__item__paragraph{
            padding-top: 50px;
        }
        .websites__item__img{
            transform: translateX(0) !important;
            max-width: 500px;
        }
    }

    @media (max-width: 550px) {

        .websites__title{
            font-size: 40px;
        }
        .websites__item__paragraph{
            font-size: 16px;
        }

        .websites__item__title{
            font-size: 24px;
        }

        .websites{
            padding-left: 30px;
            padding-right: 30px;
        }

        .websites__item__link__text{
            font-size: 16px;
        }
    }

    @media (max-width: 400px) {
        .websites{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
</style>